.imagediv {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image {
  width: 600px;
  height: 600px;
}

.ratings {
  margin-bottom: 10px;
  padding-left: 20px;
  text-align: center;
}

.para {
  border: 2px;
}

.ratingdiv {
  border: 1px solid #ccc;
  padding: 10px;
}
